* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    text-align: center;
    padding: 10px;
  }
  
  .container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  .bold {
      font-weight: bold;
  }